body, html {
  height: 100%;
}

body {
  background-color: orange;
  font-family: "Montserrat", sans-serif;
}

.parallax {
  background-image: url("/static/images/logo_boys.png"),
  url("/static/images/orange_flip.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%, cover;
  height: 100%;
}

.navbar {
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: right;
  font-size: 2em;
  font-weight: bold;
  background-color: rgba(255,255,255,1);
  border-radius: 0 0 5px 5px;
  box-shadow: 3px 3px 5px;
}

.navbar a {
  text-decoration: none;
  padding: 10px 20px 14px 20px;
  color: #33331a;
}

.navbar a:hover {
  background-color: #000;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #33331a;
  color: #000;
}

#navButton {
  background-color: #f2f2f2;
  box-shadow: 3px 3px 5px;
}

#navList {
  text-align: left;
}

.icon-bar {
  background-color: black;
}

.dropdown-menu {
  border-radius: 10px;
}

#parallaxContent {
  background-color: black;
  padding: 50px 0 0 0;
}

#contentButton {
  position: absolute;
  top: 93%;
  left: 48%;
  opacity: 1;
}

#contentButton > a {
  color: white;
  font-size: 3em;
}

#mainContent {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 6px 6px 8px #5c5c3d;
  color: black;
  padding: 30px 50px 30px 50px;
  width: 95%;
}

footer {
  height: 100%;
  padding-left: 60px;
}

footer > p {
  color: white;
  font-size: 1em;
  font-weight: bold;
  padding-top: 15px;
}

/* Home.html */
#kenny {
  width: 100%;
  height: auto;
  object-fit: cover;
}

#homeHeader {
  padding: 20px 0 20px 0;
}

.verticalLine {
  border-right: solid thick black;
  height: 100%;
}

#homeContent > p {
  padding-top: 10px;
}

/* About.html */
video {
  width: 100%;
  height: auto;
}

.aboutContent > p {
  padding-top: 15px;
}

.aboutContent a:hover {
  text-decoration: none;
}

#aboutHeader1 {
  padding-bottom: 20px;
}

#aboutHeader2 {
  padding: 50px 0 20px 0;
}

/* Character pages */
.characterPara {
  padding-top: 15px;
}

.characterHeader {
  display: inline-block;
  padding-bottom: 30px;
}

#cartman {
  float: left;
  max-width: 100%;
  height: auto;
  margin: 0 0 20px 0;
}

#stan {
  float: left;
  max-width: 40%;
  height: auto;
  margin: 0 20px 20px 0;
}

#kyle {
  float: left;
  max-width: 100%;
  height: auto;
  margin: 20px 0 20px 0;
}

#kenny_char {
  float: left;
  max-width: 45%;
  height: auto;
  margin: 0 0 20px 0;
}

/* Deaths.html */
#tour {
  margin-bottom: 10px;
}

#tour > h4 {
  display: inline-block;
  margin-right: 10px;
}

#tour > button {
  border: none;
  border-radius: 7px;
  box-shadow: 3px 3px 5px;
  font-size: 1.3em;
  font-weight: bold;
  width: 120px;
}

#tour > button:hover {
  opacity: 0.8;
}

hr {
  background: rgba(0,0,0,1);
  border-radius: 10px;
  height: 1px;
}

#firstRow {
  margin-top: 30px;
}

#deadKenny {
  width: 70%;
  height: 70%;
}

.chart-title {
  background-color: orange;
}

.chart-title > p {
  font-size: 1.1em;
  text-align: center;
  color: black;
  font-weight: bold;
}

.chart-wrapper {
  border: solid 1px black;
  margin-bottom: 40px;
}

.dc-select-menu {
  width: 80%;
  height: 40px;
  font-size: 18px;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 0;
}

#totalDeaths {
  font-size: 2em;
  font-weight: 900;
  float: top;
}

#quotesChart {
  width: 100%;
}

/* Media Queries */
@media screen and (max-width: 605px) {

  .parallax {
    height: 70%;
  }

  #contentButton {
    top: 62%;
    left: 47%;
  }
}

@media screen and (max-width: 665px) {

  #stan {
    max-width: 100%;
    height: auto;
  }

  #kenny_char {
    max-width: 50%;
    height: auto;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    background-color: rgba(255,255,255,0);
    box-shadow: none;
    font-size: 1.5em;
  }

  #navList {
    background-color: rgba(255,255,255,1);
    border-radius: 0 0 5px 5px;
    box-shadow: 3px 3px 5px;
  }

  footer > p {
    font-size: 0.8em;
  }

  #kenny {
    display: none;
  }

  #deadKenny {
    display: none;
  }

  .verticalLine {
    border: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 855px) {

  .dc-select-menu {
    font-size: 14px;
  }
}

@media screen and (min-width: 856px) {

  .dropdown-menu > li {
    font-size: 1.2em;
    padding-top: 10px;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1699px) {

  #kenny {
    width: 90%;
    height: auto;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1549px) {

  #stan {
    max-width: 35%;
    height: auto;
  }

  #kyle {
    max-width: 45%;
    height: auto;
  }

  #kenny_char {
    max-width: 40%;
    height: auto;
    margin-right: 80px;
  }
}

@media screen and (min-width: 1550px) and (max-width: 1799px) {

  #cartman {
    max-width: 40%;
    height: auto;
    margin-right: 60px;
  }

  #stan {
    max-width: 30%;
    height: auto;
    margin-right: 80px;
    margin-left: 30px;
  }

  #kyle {
    max-width: 35%;
    height: auto;
    margin-right: 80px;
  }

  #kenny_char {
    max-width: 30%;
    height: auto;
    margin-right: 80px;
  }
}

@media screen and (min-width: 1630px) {

  video {
    width: 80%;
    height: auto;
    padding-left: 100px;
  }
}

@media screen and (min-width: 1700px) {

  #kenny {
    width: 70%;
    height: auto;
  }
}

@media screen and (min-width: 1800px) {

  #cartman {
    max-width: 35%;
    height: auto;
    margin-right: 60px;
  }

  #stan {
    max-width: 25%;
    height: auto;
    margin-right: 80px;
    margin-left: 30px;
  }

  #kyle {
    max-width: 30%;
    height: auto;
    margin-right: 80px;
  }

  #kenny_char {
    max-width: 25%;
    height: auto;
    margin-right: 80px;
    margin-left: 40px;
  }
}
