body, html {
  height: 100%;
}

body {
  background-color: orange;
  font-family: "Montserrat", sans-serif;
}

.parallax {
  background-image: url("/static/images/logo_boys.png"),
  url("/static/images/orange_flip.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 100%, cover;
  height: 100%;
}

.navbar {
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: right;
  font-size: 2em;
  font-weight: bold;
  background-color: rgba(255,255,255,1);
  border-radius: 0 0 5px 5px;
  box-shadow: 3px 3px 5px;
}

.navbar a {
  text-decoration: none;
  padding: 10px 20px 14px 20px;
  color: #33331a;
}

.navbar a:hover {
  background-color: #000;
  border-radius: 10px;
  box-shadow: 3px 3px 5px #33331a;
  color: #000;
}

#navButton {
  background-color: #f2f2f2;
  box-shadow: 3px 3px 5px;
}

#navList {
  text-align: left;
}

.icon-bar {
  background-color: black;
}

#parallaxContent {
  background-color: black;
  padding: 50px 0 0 0;
}

#contentButton {
  position: absolute;
  top: 93%;
  left: 48%;
  opacity: 1;
}

#contentButton > a {
  color: white;
  font-size: 3em;
}

#mainContent {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 6px 6px 8px #5c5c3d;
  color: black;
  padding: 30px 50px 30px 50px;
  width: 95%;
}

footer > p {
  color: white;
  font-size: 1em;
  font-weight: bold;
  padding-top: 15px;
}

/* Home.html */
#kenny {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#homeHeader {
  padding: 20px 0 20px 0;
}

.verticalLine {
  border-right: solid thick black;
  height: 100%;
}

#homeContent > p {
  padding-top: 10px;
}

/* About.html */
video {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .navbar {
    background-color: rgba(255,255,255,0);
    box-shadow: none;
    font-size: 1.5em;
  }

  #navList {
    background-color: rgba(255,255,255,1);
    border-radius: 0 0 5px 5px;
    box-shadow: 3px 3px 5px;
  }

  footer > p {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 767px) {

  #kenny {
    display: none;
  }

  .verticalLine {
    border: none;
  }
}

@media screen and (max-width: 605px) {

  .parallax {
    height: 70%;
  }

  #contentButton {
    top: 62%;
  }
}
