{% extends "index.html" %}
{% block content %}
  <div class="row">
    <div class="col-sm-6">
      <h2>So, why create a database of Kenny's deaths?</h2>

      <p>What a silly question - because this is a greater use of my time than looking at cat pictures, of course!</p>
      <p>Since South Park first aired in 1997 (how old do you feel now?), Kenny's gruesome deaths have been one, if not
        <i>the</i>, most instantly recognisable facet of the series. His demise, followed by the usual catchphrase of,
      "Oh my God, they killed Kenny! You bastards!" has crossed the globe, with people young and old able to point the
      finger at South Park, even if they haven't seen the show. Does one need a better reason to make a website
      about it?</p>
      <p>....that and I'm a massive nerd for statistics.</p>
    </div>
    <div class="col-sm-6">
      <video controls="controls" preload="auto">
        <source src="{{ url_for('static', filename="video/oh-my-god.mp4") }}" type="video/mp4">
      </video>
    </div>
  </div>

{% endblock %}