{% extends "index.html" %}
{% block content %}
  <section>
    <article class="character-div">
      <h2 class="characterHeader">Eric Cartman</h2>
      <img id="cartman" src="{{ url_for ('static', filename="images/cartman.png") }}" alt="Cartman">

      <p><b>Best Friend:</b> Himself</p>
      <p><b>Rival:</b> Kyle</p>
      <p><b>Greatest Quotes:</b></p>
      <p><i>"Screw you guys, I'm going home!"</i></p>
      <p><i>"Respect my authoritah!"</i></p>
      <p><i>"What's to understand? You get a boner, slap her titties around some, then stick it inside her and pee"</i></p>
      <p><i>"I'm not just sure. I'm HIV positive"</i></p>
      <p><i>"Well, I've been licking this carpet for three whole hours and I don't feel like a lesbian"</i></p>

      <p class="characterPara">Eric Cartman. The face of South Park and perhaps one of the greatest villains TV has ever seen. His constant
      disdain for anything different has brought laughs to fans for twenty years. Whether it's the Jews, blacks,
      hippies, women, gays or Canadians, you can always trust Cartman to be on-hand with witty putdowns and gasp-inducing
      remarks. He is the essence of anti-PC and the biggest tool in South Park's arsenal to offend and delight in equal
      measure.</p>
      <p class="characterPara">As the series has evolved, Cartman has come to show a tremendous ability to manipulate and scheme, reading his
      opponent's moves well in advance. There's no doubt he actually possesses a great intellect and capacity to adapt
      to any given situation in an instant, something which his friends and lifelong rival, Kyle, must be aware of, but
      choose to remain oblivious.</p>
    </article>
  </section>
{% endblock %}