{% extends "index.html" %}
{% block content %}
  <section class="application">
    <div class="row">
      <div class="col-sm-12">
        <div id="tour">
          <h4>Feeling lost? Why not take the tour!</h4>
          <button class="intro_button" type="button" autofocus onclick="javascript:introJs().start();">Let's Go!</button>
        </div>
        <hr>
      </div>
    </div>

    <!-- Line Chart (deaths by season) -->
    <div id="firstChart" class="row">
      <div class="col-sm-8">
        <div class="chart-wrapper">
          <div class="chart-title">
            <p>Number of Deaths per Season</p>
          </div>
          <div class="chart-stage">
            <div id="seasonsChart"></div>
          </div>
        </div>
      </div>
      <figure class="col-sm-4">
        <img id="deadKenny" src="{{ url_for ('static', filename='images/kenny-dead.png') }}" alt="Kenny">
      </figure>
    </div>

    <!-- Pie Chart (types of death) -->
    <div class="row">
      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            <p>Type of Death</p>
          </div>
          <div class="chart-stage">
            <div id="deathsChart"></div>
          </div>
        </div>
      </div>

      <!-- Bar Chart (number of times quote used) -->
      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            <p>Number of Times Quote Said</p>
          </div>
          <div class="chart-stage">
            <div id="quotesChart"></div>
          </div>
        </div>
      </div>
    <!--</div>-->

    <!-- Death selection menu -->
    <!--<div class="row">-->
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            <p>Select Type of Death:</p>
          </div>
          <div class="chart-stage">
            <div id="deathSelect"></div>
          </div>
        </div>
      </div>

      <!-- Total deaths metric -->
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            <p>Total Number of Deaths</p>
          </div>
          <div class="chart-stage">
            <div id="totalDeaths"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}