{% extends "index.html" %}
{% block content %}
  <section class="application">
    <div class="row">
      <div class="col-sm-12">
        <div id="tour">
          <h4>Feeling lost? Why not take the tour!</h4>
          <button class="intro_button" type="button" onclick="javascript:introJs().start();">Let's Go!</button>
        </div>
        <hr>
      </div>
    </div>

    <!-- Line Chart (deaths by season) -->
    <div id="firstRow" class="row">
      <div class="col-sm-8">
        <div class="chart-wrapper" data-step="1" data-intro="This displays the total number of deaths per season.
        Go ahead and drag a selection to see the deaths that occurred in the other charts." data-position="right">
          <div class="chart-title">
            <p>Number of Deaths per Season</p>
          </div>
          <div class="chart-stage">
            <div id="seasonsChart"></div>
          </div>
        </div>
      </div>
      <figure class="col-sm-4">
        <img id="deadKenny" src="{{ url_for ('static', filename='images/kenny-dead.png') }}" alt="Kenny">
      </figure>
    </div>

    <!-- Pie Chart (types of death) -->
    <div class="row">
      <div class="col-sm-6">
        <div class="chart-wrapper" data-step="2" data-intro="This shows the different types of death that have occurred.
        Click an individual segment to see how that reflects on the other charts." data-position="right">
          <div class="chart-title">
            <p>Type of Death</p>
          </div>
          <div class="chart-stage">
            <div id="deathsChart"></div>
          </div>
        </div>
      </div>

      <!-- Bar Chart (number of times quote used) -->
      <div class="col-sm-6">
        <div class="chart-wrapper" data-step="3" data-intro="Everyone knows the famous foul-mouthed catchphrase that
        succeeds Kenny's death; however, it wasn't always said. This chart shows how many times it occurred in each season."
        data-position="left">
          <div class="chart-title">
            <p>Number of Times Quote Said</p>
          </div>
          <div class="chart-stage">
            <div id="quotesChart"></div>
          </div>
        </div>
      </div>
    <!--</div>-->

    <!-- Death selection menu -->
    <!--<div class="row">-->
      <div class="col-sm-3">
        <div class="chart-wrapper" data-step="4" data-intro="This lists every death poor Kenny has suffered. Click on one
        that takes your fancy to see its corresponding stats in the other charts." data-position="left">
          <div class="chart-title">
            <p>Select Type of Death:</p>
          </div>
          <div class="chart-stage">
            <div id="deathSelect"></div>
          </div>
        </div>
      </div>

      <!-- Total deaths metric -->
      <div class="col-sm-3">
        <div class="chart-wrapper" data-step="5" data-intro="Finally, this displays the total number of deaths depending
        on the selections you've made on the other charts, or the overall count if nothing has been specifically selected."
        data-position="top">
          <div class="chart-title">
            <p>Total Number of Deaths</p>
          </div>
          <div class="chart-stage">
            <div id="totalDeaths"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}