<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Kenny's Death Log</title>
  <!-- Favicon for IE9 and lower -->
  <!--[if IE]><link rel="shortcut icon" href="{{ url_for ('static', filename='images/favicon_IE.ico') }}"><![endif]-->
  <!-- Favicons for Apple and standard format -->
  <link rel="apple-touch-icon-precomposed" href="{{ url_for ('static', filename='images/favicon_apple.png') }}">
  <link rel="icon" type="image/png" href="{{ url_for ('static', filename='images/favicon.png') }}">
  <!-- Bootstrap -->
  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/bootstrap.min.css')}}">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
  <!-- Charts libraries -->
  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/keen-dashboards.css') }}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/dc.css') }}">
  <link rel="stylesheet" href="{{ url_for ('static', filename='lib/css/introjs.css') }}">
  <!-- Google font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ url_for ('static', filename='css/main.css') }}">
</head>
<body>
  <header class="parallax">
    <nav class="navbar navbar-right">
      <button type="button" class="navbar-toggle" id="navButton"
      data-toggle="collapse" data-target="#navList">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="navList">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">About
            <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="/about">This Database</a></li>
              <li><a href="/cartman">Eric Cartman</a></li>
              <li><a href="/stan">Stan Marsh</a></li>
              <li><a href="/kyle">Kyle Broflovski</a></li>
              <li><a href="/kenny">Kenny McCormick</a></li>
            </ul>
          </li>
          <li><a href="/deaths">Deaths</a></li>
        </ul>
      </div>
    </nav>
    <div id="contentButton"><a href="#parallaxContent"><span class="glyphicon glyphicon-circle-arrow-down"></span></a></div>
  </header>

  <section id="parallaxContent">
    <div id="mainContent" class="container">
      {% block content %}
      {% endblock %}
    </div>
    <footer>
      <p>
        &copy; Scott Kipp - Kenny's Death Log | Stream Two
      </p>
    </footer>
  </section>

  <!-- JS Scripts -->
  <script src="{{ url_for ('static', filename='lib/js/jquery.min.js') }}"></script>
  <script src="{{ url_for ('static', filename='lib/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for ('static', filename='lib/js/crossfilter.js') }}"></script>
  <script src="{{ url_for ('static', filename='lib/js/d3.js') }}"></script>
  <script src="{{ url_for ('static', filename='lib/js/dc.js') }}"></script>
  <script src="{{ url_for ('static', filename='lib/js/queue.js') }}"></script>
  <script src="{{ url_for ('static', filename='lib/js/keen.min.js') }}"></script>
  <script src="{{ url_for ('static', filename='lib/js/intro.js') }}"></script>
  <script src="{{ url_for ('static', filename='js/graph.js') }}"></script>
</body>
</html>
