{% extends "index.html" %}
{% block content %}
  <section class="row">
    <img id="kenny_char" class="col-lg-6" src="{{ url_for ('static', filename="images/kenny.png") }}" alt="Kenny">
    <article class="col-lg-6">
      <h2 class="characterHeader">Kenny McCormick</h2>

      <p><b>Best Friend:</b> None</p>
      <p><b>Rival:</b> Death</p>
      <p><b>Greatest Quotes:</b></p>
      <p><i>"Mmm mm mmm mm mm!"</i></p>
      <p><i>"Mm mmm mmm mm mm mmm mmm"</i></p>
      <p><i>"Mmm mmm mm!"</i></p>
      <p><i>"Goodbye, you guys"</i></p>

      <p class="characterPara">Everyone's favourite poor kid. Cartman has sung a song about his poverty, rats have eaten
      his corpse, he has been run over and blown up. Yes, he's the reason this site exists and may just be everyone's
      guilty pleasure in South Park. It's impossible not to feel sorry for Kenny, with his constant misfortune and
      numerous demises being the focal point of the show. As much as life beats him down (and Cthulhu reincarnates him),
      Kenny has proven to have a heart of gold, sacrificing himself more than once to save his friends, as well as
      toiling as part of a child labour force to buy his younger sister a dolly to play with because their deadbeat
      parents can't.</p>
      <p class="characterPara">Kenny died permanently in season 5 as a result of terminal illness. This seems to be the
      only time the boys recognised that he had actually died and his departure affects the group immensely. It's not
      known whether Kenny's death was supposed to be permanent, but he was brought back as a soul trapped in Cartman's
      body, before being reincarnated and featuring in the show once again. It was after this point that his regular
      deaths all but ended, as the creators felt that the gag had run dry.</p>
    </article>
  </section>
{% endblock %}